@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body {
    font-family: "Delius", cursive;
    color: rgb(255, 255, 255);
    background-color: black;
 }


    img {
        width: 500px;
    }