@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

body {
    font-family: "Nosifer", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
 }


    img {
        width: 500px;
    }