@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

body {
    font-family: "Bungee Tint", sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
 }


    img {
        width: 500px;
    }